
header{
    background-color: rgb(30, 30, 121);
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 70px;
}
body{
    background: linear-gradient(#0d2532 blue) ;
} 